<div class="container">
  <div
    id="carouselExampleControls"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://www.techni-contact.com/ressources/images/produits/zoom/amenagement-salon-de-coiffure-8240955-9.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.techni-contact.com/ressources/images/produits/zoom/8240955-1.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.techni-contact.com/ressources/images/produits/zoom/amenagement-salon-de-coiffure-8240955-6.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="salon-de-beaute mt-5">
    <h2 class="text-center text-dark">Bienvenue au Salon de Beauté Luxe</h2>
    <p>
      Nous sommes fiers de vous offrir une expérience de beauté exceptionnelle
      dans notre salon de beauté de luxe. Notre équipe professionnelle est là
      pour répondre à tous vos besoins en matière de coiffure, maquillage, soins
      de la peau et bien plus encore.
    </p>
    <p>
      Doté des dernières technologies et des produits de beauté de la plus haute
      qualité, notre salon est l'endroit idéal pour vous détendre, vous
      ressourcer et vous sentir magnifique.
    </p>
    <p>
      Que vous veniez pour une transformation complète ou simplement pour une
      petite retouche, notre équipe attentionnée et compétente est là pour vous
      offrir un service personnalisé qui répond à vos attentes.
    </p>
    <p>
      Explorez notre gamme de services et prenez rendez-vous dès aujourd'hui
      pour vivre une expérience de beauté inoubliable.
    </p>
  </div>
</div>
