<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add Service</h6>
            </div>

            <div class="card-body">
                <form (ngSubmit)="ajout_service()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Titre</label>
                            <input type="text" [(ngModel)]="serviceData.titre" name="titre" class="form-control"  placeholder="Titre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Prix</label>
                            <input type="text" [(ngModel)]="serviceData.prix" name="prix" class="form-control"  placeholder="Prix en Ariary">
                         </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Duré</label>
                            <input type="text" [(ngModel)]="serviceData.durer" name="durer" class="form-control"  placeholder="Duré du service">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Commission</label>
                            <input type="text" [(ngModel)]="serviceData.commission" name="commission" class="form-control"  placeholder="Commission en pourcentage">
                        </div>
                    </div>
                    <div class="form-group"></div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
                <div *ngIf="showSuccessAlert">
                    <alert type="success" [dismissible]="true" (onClosed)="showAlert = false">
                      Requête traitée avec succès
                    </alert>
                </div>
        
                <div *ngIf="showAlert">
                <alert type="danger" [dismissible]="true" (onClosed)="showAlert = false">
                    Une erreur s'est produite
                </alert>
                </div>
            </div>
        </div>
    </div>
</div>