<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gestion Profil</h6>
            </div>

            <div class="card-body">
                <form >
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nom">Nom</label>
                            <input type="text" [(ngModel)]="employerById.individu.nom"  name="nom" id="nom" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="prenom">Prénom</label>
                            <input type="text" [(ngModel)]="employerById.individu.prenom" name="prenom" id="prenom" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="date_naissance">Date de naissance</label>
                            <input type="text" [(ngModel)]="employerById.individu.date_naissance" name="date_naissance" id="date_naissance" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="contact">Contact</label>
                            <input type="text" [(ngModel)]="employerById.individu.contact" name="contact" id="contact" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="adresse">Adresse</label>
                            <input type="text" [(ngModel)]="employerById.individu.adresse" name="adresse" id="adresse" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="mail">Email</label>
                            <input type="email" [(ngModel)]="employerById.individu.mail" name="mail" id="mail" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cin">CIN</label>
                            <input type="text" [(ngModel)]="employerById.individu.cin" name="cin" id="cin" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text" [(ngModel)]="employerById.user.username" name="username" id="username" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="password">Password</label>
                            <input type="password" [(ngModel)]="employerById.user.password" name="password" id="password" class="form-control">
                        </div>
                    </div>
                    <button class="btn btn-primary btn-circle btn-lg square-btn" data-toggle="modal" data-target="#serviceModal" style="font-size: 20px; padding: 10px 20px;">
                        <i class="fas fa-edit"></i>
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</div>


<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" (click)="updateProfilById(employerById.user._id)" >Modifier</button>
            </div>
        </div>        
    </div>
</div> 



  