<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Liste Service</h6>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <div class="row">
                        <!-- Filtrage -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Filtrer par titre, prix ou durée" [(ngModel)]="filterString">
                            </div>
                        </div>                        
                    </div>
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Titre</th>
                            <th>Prix</th>
                            <th>Duree</th>
                            <th>Commission</th>
                            <th></th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let service of getPaginatedServices(); let i = index">
                            <td>{{ i+1 }}</td>
                            <td>{{ service.titre }}</td>
                            <td>{{ service.prix }} Ar</td>
                            <td>{{ service.durer }}</td>
                            <td>{{ service.commission }}</td>
                            <td>
                                <button class="btn btn-primary btn-circle btn-sm" data-toggle="modal" data-target="#serviceModal" (click)="getServiceById(service._id)">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </td>  
                            <td>
                                <button class="btn btn-danger btn-circle btn-sm"  data-toggle="modal" data-target="#deleteModal" (click)="getServiceById(service._id)">
                                  <i class="fas fa-trash"></i>
                                </button>
                              </td>                              
                          </tr>
                        </tbody>
                      </table>
            
                    <!-- Pagination -->
                    <pagination [totalItems]="getFilteredServices().length" [(ngModel)]="currentPage" [maxSize]="5" class="pagination-sm" [itemsPerPage]="itemsPerPage"></pagination>
                </div>
            </div>            
        </div>
    </div>
</div>

<!-- Modal update service -->
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="serviceById.titre" name="titre"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="serviceById.prix" name="prix"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="serviceById.durer" name="durer"/>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="serviceById.commission" name="commission"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" (click)="updateServiceById(serviceById._id)" >Update</button>
            </div>
        </div>        
    </div>
</div>

<!-- Modal delete service -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete ?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" (click)="deleteServiceById(serviceById._id)" >Delete</button>
            </div>
        </div>        
    </div>
</div>