<div class="row">
  <div class="col-md-12 mb-4">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Gestion horaire de travail</h6>
      </div>

      <div class="card-body">
        <div class="container" *ngIf="!horaireTravail">
          <h2>Ajouter un horaire de travail</h2>
          <div class="form-group">
            <label for="heureDebut">Heure de début:</label>
            <input
              type="time"
              class="form-control"
              id="heureDebut"
              name="heureDebut"
              [(ngModel)]="heureDebut"
            />
          </div>
          <div class="form-group">
            <label for="heureFin">Heure de fin:</label>
            <input
              type="time"
              class="form-control"
              id="heureFin"
              name="heureFin"
              [(ngModel)]="heureFin"
            />
          </div>
          <button class="btn btn-primary" (click)="ajouterHoraireTravail()">
            Ajouter
          </button>
        </div>

        <div class="container" *ngIf="horaireTravail">
          <div class="row">
            <div class="col-md-6">
              <h2>Horaires de travail</h2>
              <p>Heure de début: {{ horaireTravail?.heure_debut }}</p>
              <p>Heure de fin: {{ horaireTravail?.heure_fin }}</p>
            </div>
            <div class="col-md-6">
              <h2>Mettre à jour l'horaire de travail</h2>
              <div class="form-group">
                <label for="heureDebut">Nouvelle heure de début:</label>
                <input
                  type="time"
                  class="form-control"
                  id="heureDebut"
                  name="heureDebut"
                  [(ngModel)]="heureDebut"
                />
              </div>
              <div class="form-group">
                <label for="heureFin">Nouvelle heure de fin:</label>
                <input
                  type="time"
                  class="form-control"
                  id="heureFin"
                  name="heureFin"
                  [(ngModel)]="heureFin"
                />
              </div>
              <button class="btn btn-primary" (click)="updateHoraireTravail()">
                Mettre à jour
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="showSuccessAlert">
          <alert type="success" [dismissible]="true" (onClosed)="showAlert = false">
            Utilisateur enregistré avec succès
          </alert>
        </div>
  
        <div *ngIf="showAlert">
          <alert type="danger" [dismissible]="true" (onClosed)="showAlert = false">
            Erreur lors de l'enregistrement de l'utilisateur
          </alert>
        </div>
        <ngx-spinner [name]="'spin'" bdColor = "rgba(0, 0, 0, 0.8)" size = "default" color = "#fff" type = "line-spin-fade" [fullScreen] = "false"><p style="color: white" >Loading...</p></ngx-spinner>
  
      </div>
    </div>
  </div>
</div>
