<table class="table">
    <thead>
      <tr>
        <th scope="col">Titre</th>
        <th scope="col">Prix</th>
        <th scope="col">Duré</th>
        <th scope="col">Commission</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td>{{ service.titre }}</td>
        <td>{{ service.prix }} Ar</td>
        <td>{{ service.durer }} min</td>
        <td>{{ service.commission }} %</td>
        <td><button (click)="deleteService(service._id)" class="btn btn-danger">Supprimer</button></td>
        <td><button (click)="getByIdService(service._id)" class="btn btn-info">Modifier</button></td>
      </tr>
    </tbody>
  </table>
  <a href="/service">retour</a>
